body {
	background-color: #E0D6CC;
}

.navbar-default {
    background-color: black;
    border-color: black;
    color: #E0D6CC;
    font-family: 'Yanone Kaffeesatz', sans-serif;
    font-size: 18px;
}

.navbar-default .navbar-brand {
    color: #E0D6CC;
    font-family: 'Marck Script', cursive;
    font-size: 25px;
}

.navbar-default .navbar-brand:hover {
	color: #E0D6CC;
    font-family: 'Marck Script', cursive;
}

.nav>li {
	background-color: black;
    border-color: black;
    color: #E0D6CC;
    font-family: 'Yanone Kaffeesatz', sans-serif;
}


.nav>li:hover {
	background-color: black;
    border-color: black;
    color: #E0D6CC;
    font-family: 'Marck Script', cursive;
}

.nav>li:visited {
    background-color: black;
    border-color: black;
    color: #E0D6CC;
    font-family: 'Yanone Kaffeesatz', sans-serif;
}


.navbar-default .navbar-nav>li>a {
    color: #E0D6CC;
    font-family: 'Yanone Kaffeesatz', sans-serif;
} 

.navbar-default .navbar-nav>li>a:hover {
    color: #E0D6CC;
    font-family: 'Marck Script', cursive;
}

.navbar-default .navbar-nav>li>a:visited {
    background-color: black;
    border-color: black;
    color: #E0D6CC;
    font-family: 'Yanone Kaffeesatz', sans-serif;
}


.jumbotron {
	background-image: url(https://equestrianbitch.files.wordpress.com/2013/08/hdr-horse-barns.jpg);
	padding: 20%;
	background-repeat: no-repeat;
	background-size: cover;
 	width: 100%;
 	margin-top: -40px;
 	background-position:  center;
 	height: 550px;
}

.jumbotron h1 {
	font-family: 'Marck Script', cursive;
	color: black;
 	font-size: 100px;
 	text-align: center;
 	font-style: bold;
}


.jumbotron h3 {
	font-family: 'Shadows Into Light', cursive;
	color: #E0D6CC;
	text-align: center;
	font-size: 40px;
	font-style: bold;
}

h3 {
	font-family: 'Shadows Into Light', cursive;
    text-align: center;
    color: black;
    font-size: 30px;
}

h5 {
	font-family: 'Shadows Into Light', cursive;
	text-align: center;
	color: black;
	font-size: 30px;
}

p {
	font-family: 'Yanone Kaffeesatz', sans-serif;
	color: black;
	font-size: 20px;
	text-align: center;
}

#description {
	margin-bottom: 5%;
}

#about {
    text-align: center;
    font-family: 'Yanone Kaffeesatz', sans-serif;
    font-size: 20px;
    padding: 1% 15% 1%;
}

.mission {
	font-size: 25px;
}

.photo {
    border-radius: 50%;
    padding: 0% 35% 0%;
}

#izzie {
    padding: 1% 15% 5%;
    font-family: 'Yanone Kaffeesatz', sans-serif;
    font-size: 20px;
    text-align: center;
}


.footer {
    color: #E0D6CC;
    background-color: black;
    font-size: 18px;
    font-family: 'Yanone Kaffeesatz', sans-serif;
    text-align: right;
    padding-left: 20px;
    padding-right: 20px;
    margin-top: 10px;

}

.footer ul li {
    display: inline-block;
    list-style: none;
    padding: 2%;
}

footer p{
	font-family: 'Marck Script', cursive;
    color: #E0D6CC;
    background-color: black;
    float: left;
    padding: 2%;
}

.pro_problem {
    padding: 1% 15% 5%;
    font-family: 'Yanone Kaffeesatz', sans-serif;
    font-size: 20px;
    text-align: center;
}

.pro_solution {
    padding: 1% 15% 5%;
    font-family: 'Yanone Kaffeesatz', sans-serif;
    font-size: 20px;
    text-align: center;
    }